<article>
    <h2 class="problem-header">{{ display_name }}</h2>
    <p>{{ intro }}</p>

    <button class="navmaker">{{ button_label }}</button>

    <div class="sr">
        <h4>Screen Reader Accessible Version of the Platform Tour</h4>
        <ol id="screen-reader-steps"></ol>
    </div>
</article>

<script>
    $(document).ready(function(){
        var stepList = {{ steps|safe }};
        var platformTourData = [];
        var stepsAdded = 1;
        stepList.forEach(function(step, i) {
            var stepElement = $(step.selector);
            if (step.find) {
                stepElement = $(step.selector).find(step.find);
            }
            if (stepElement) {
                platformTourData.push(stepElement);
                platformTourData[i].attr("data-step", stepsAdded);
                platformTourData[i].attr("data-intro", step.dataIntro);
                platformTourData[i].attr("data-position", step.dataPosition);
                var screenReaderListItem = '<li class="step">' + step.dataIntro + '</li>';
                $('#screen-reader-steps').append(screenReaderListItem);
                stepsAdded++;
            }
        });
    });
</script>
